@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin:0px;
	padding: 0px;
}

/*index*/
.fondo{
	background-color: #FFDCA5;  
}

header {
	width: 100%;
	height: 100px;
	background-color: #FD5A46;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	position: sticky;
	top: 0%; 
	z-index: 1;
}

img.logo {
	width: 127px;
	height: 69px;
	padding: 10px;
	display: flex;
	justify-content: flex-start
}

nav{
	display: flex;
	text-align:end;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-right: 35px; 
	margin-left: 530px; 
}

nav a:hover {
	background-color: #6D48C6;
	color: #8CCCF1;
}

nav a {  
	color: #6D48C6;
	background-color: #8CCCF1;
	font-family: 'Barlow Black', sans-serif;
	text-align: center; 
	padding: 10px; 
	margin: 6px; 
	text-decoration: none;
	border-radius: 25px; 
	width: 120px; 
	transition: background-color 0.3s, color 0.3s;
}

footer{
	width: 100%;
	height: 80px;
	margin-bottom: 0%; 
	background-color: #F65D41;
	display: flex; 
	justify-content: center;
	align-items: center; 
	font-size: 20px;
}

/*galeria*/

.galeria {
 	display: flex;
	flex-direction: column;
}

.slider {
	display: flex;
	overflow: scroll;
	position: relative;
	max-width: 100%;
	transition: 0.5s;
}

.imagen {
	flex: 0 0 100%;
	max-width: 100%;
	transition: 0.5s;
}

input[type="radio"] {
 	display: none;
}

input[type="radio"]:checked ~ .slider .imagen {
	transform: translateX(-100%);
}

.menu {
	display: flex;
}

label {
	flex: 0 0 16.666%;
	cursor: pointer;
}

label:hover {
	background-color: #ddd;
}

.personajes {
	display: block;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}


/*carrusel*/
.carrusel {
	aspect-radio:10/16;
	width:100%;
	position:relative;
	display:flex;
	overflow:scroll;
	scroll-snap-type: x mandatory;
	
}

.carrusel-autores {
	display: flex;
	justify-content: center;
	align-content: center; 
	flex-direction: column;
}

/*sobre nosotros*/

h2 {
	color:#6D48C6;
	font-family: "Barlow Black", sans-serif; 
	font-size: 45px;
	text-align: left; 
	margin-left: 6.5%; 
	margin-bottom: 2.5%; 
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#sobre-nosotros {
	position: relative;
	margin-bottom: 10%;
	margin-top: 10%; 
	z-index: -1; 
}

.fondo-derecha, .fondo-abajo {
	position: absolute;
	top: 0;
	left: 0;
}

.fondo-derecha {
	background: #6D48C6;
	z-index: 1; /* Fondo trasero */
	transform: translate(30px, 30px);/* Desplazamiento hacia la derecha y abajo */
	width: 900px;
	height: 500px;
	border-radius: 45px;
	border-style: solid; 
	border-width: 2px;
		
}

.fondo-abajo {
	background: #F9CA7F;
	z-index: 2; /* Fondo delantero */
	width: 900px;
	height: 500px;
	border-radius: 45px; 
	border-style: solid;
	border-width: 2px; 
}

.contenido {
	margin-top: 10px; 
	margin-left: 30px; 
	text-align: center;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	z-index: 3; /* Contenido delante de los fondos */
}

.texto-sn {
	text-align:left;
	font-family: "Barlow", sans-serif; 
	padding-left: 50px;
	padding-right: 50px;
	width: 700px;
	line-height: 30px;
	font-size: 20px;
	color: black;
}

.negrita {
	text-align:left;
	font-family: "Barlow SemiBold", sans-serif; 
	padding-left: 50px;
	padding-right: 50px;
	width: 700px;
	line-height: 30px;
	font-size: 20px;
	color: black;
}

.redes-sociales {
	display: flex;
	justify-content: space-around; 
	width: 15%; 
}

footer ul a  {
	padding: 1%; 

}

footer p {
	font-family: "Barlow Medium", sans-serif;
	color:#9FCCED;
	margin-right: 4%; 
}

/*Formulario*/

#formulario{
	display: flex;
	flex-direction: row;
}

.img-formulario {
	margin-left: 110px; 
}

form {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	width: 100%;
	height: 100%;
}

.input-nombre, .input-correo, .input-asunto{
	font-family: "Barlow Medium", sans-serif;
	font-size: 23px; 
	background-color:#9FCCED;
	border-radius: 40px; 
	padding: 2%; 
	margin: 1%;  
	width: 40%;
	height: 3px; 
	border-style: solid;
	border-width: 0.5%; 
}

.label-mensaje {
	font-family: "Barlow Medium", sans-serif;
	font-size: 18px; 
	color: black; 
	margin-top: 10px; 
}

.espacio-mensaje {
	font-family: "Barlow Medium", sans-serif;
	font-size: 23px;
	background-color:#9FCCED;
	border-radius: 40px; 
	padding: 2%; 
	margin: 1%;
	width: 40%;
	height: 60px;
	border-style: solid;
	border-width: 0.5%; 
}

.boton-enviar {
	width: 13%; 
	font-family: "Barlow Medium", sans-serif;
	font-size: 23px;
	background-color:#9FCCED;
	border-radius: 45px; 
	padding: 2%; 
	margin: 1%;
	height: 3px; 
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	border-style: solid;
	border-width: 0.3%; 
}

.boton-enviar:hover {
	background-color: #6D48C6; 
	transition: background-color 0.3s;
	color: white; 
}

/*Info personajes*/
.flexbox{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
}

.mafalda-pers, .clemente-pers, .paturuzu-pers, .eternauta-pers, .pereyra-pers, .hijitus-pers{
	display: flex;
}

.mafalda-info, .clemente-info, .paturuzu-info, .eternauta-info, .pereyra-info, .hijitus-info {
	position: relative;
	margin-top: 5%;
	margin-bottom: 10%; 
	z-index: -1; 
}

.fondo-derecha-pers, .fondo-abajo-pers {
	position: absolute;
	top: 0; 
	left: 0;
}

.fondo-derecha-pers{
	background: black;
	z-index: 1; /* Fondo trasero */
	transform: translate(30px, 30px);/* Desplazamiento hacia la derecha y abajo */
	width: 800px;
	height: 500px;
	border-radius: 45px;
	border-style: solid; 
	border-width: 2px;
}

.fondo-abajo-pers {
	background: #FFD99D;
	z-index: 2; /* Fondo delantero */
	width: 800px;
	height: 500px;
	border-radius: 45px; 
	border-style: solid;
	border-width: 2px; 
}

.contenido-pers {
	text-align: center;
	color: #fff;
	padding: 40px;
	border-radius: 5px;
	position: relative;
	z-index: 3; /* Contenido delante de los fondos */
}

.contenido-pers p {
	text-align:left;
	font-family: "Barlow Medium", sans-serif;  
	padding-left: 50px;
	padding-right: 50px;
	width: 600px;
	text-indent: 30px;
	line-height: 30px;
	font-size: 20px;
	color: black;
}
	
/* Novedades */

.video{
	display: flex;
	flex-direction: row;
	justify-content: center; 
	align-items: center;
	margin-bottom: 7%; 
	margin-top: 7%; 
}	

.novedades{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap; 
}

.columna1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 616px;
}

.columna2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}

.mafalda, .hijitus, .clemente, .pereyra {
	margin-bottom: 20px;
	display: flex;
	
}

.contenedor{
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	margin-left: -80px; 
}

.texto-superpuesto {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	display: flex;
	flex:1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	font-family: "Barlow Medium", sans-serif;
	font-size: 15px;
	padding: 10px;
}


@media screen and (max-width:600px) {
	
	/* media index */
	
	header {
	height: 290px;
    }
	
	nav{
	display: flex;
	flex-direction: column; 
	align-items: center;
	justify-content: flex-end;
	margin-right: 30px; 
	margin-left: 200px; 
	}
	
	nav a { 
	font-size: 20px; 
	padding: 15px; 
	border-radius: 45px; 
	width: 150px; 
	}
	
	footer {
	width: 100%;
	height: 100px;
	margin-bottom: 0%; 
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	}
	
	footer p {
	margin-top: 15px; 
	}
	
	.redes-sociales {
	margin-top: 3px; 
	justify-content: center; 
	}
	
	.carrusel {
	width:100%;
	height: 700px; 
	}
	
/* media sobre nosotros */
	
h2 {
	margin-left: 1%; 
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center; 
}

.fondo-derecha {
	width: 500px;
	height: 700px;
}

.fondo-abajo {
	width: 500px;
	height: 700px;
}

.contenido {
	margin-top: 7px; 
	margin-left: 30px; 
}

.texto-sn {
	padding-left: 1px;
	padding-right: 5px;
	width: 430px;
}

.negrita {
	padding-left: 1px;
	padding-right: 5px;
	width: 430px;
}
	
/* media formulario*/

#formulario{
	display: flex;
	flex-direction: column; 
	align-items: center; 
}
	
.img-formulario {
	margin-left: 0px; 
}

form {
	width: 1600px; 
	height: 100%; 
	margin-bottom: 30px; 
}

.input-nombre, .input-correo, .input-asunto{
	font-size: 30px; 
}

.boton-enviar {
	font-size: 30px;
}
	
/* media novedades */
	
	.flex-novedades {
		display: flex; 
		flex-direction: column; 
		justify-content: center;  
		align-items: center; 
	}
	
	.novedades {
		display: flex; 
		flex-direction: column; 
	}

}
	
