@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin:0px;
	padding: 0px;
}

/*index*/
.fondo{
	background-color: #FFD595;  
}

header {
	width: 100%;
	height: 100px;
	background-color: #FD5A46;
	display: flex;
	justify-content: space-between; 
	align-items: center;
	position: sticky;
	top: 0%; 
	z-index: 1;
}

img.logo {
	width: 127px;
	height: 69px;
	padding: 10px;
	display: flex;
	justify-content: flex-start; 
	margin-left: 35px; 
}

nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 35px; 
	
}

nav a:hover {
	background-color: #6D48C6;
	color: #8CCCF1;
	transform: translateY(-3px);
	transition-duration: 0.5s;
}

nav a:active {
	background-color: #F9CA7F;
	color: #6D48C6;
}

nav a {  
	color: #6D48C6;
	background-color: #8CCCF1;
	font-family: 'Barlow', sans-serif;  
	font-weight: 900; 
	font-style: normal; 
	text-align: center; 
	padding: 10px; 
	margin: 6px; 
	text-decoration: none;
	border-radius: 25px; 
	width: 120px; 
	transition: background-color 0.3s, color 0.3s;
}

footer{
	width: 100%;
	height: 80px;
	margin-bottom: 0%; 
	background-color: #F65D41;
	display: flex; 
	justify-content: center;
	align-items: center; 
	font-size: 20px;
}

/*carrusel personajes*/

.carrusel {
 	display: flex;
	flex-direction: column;
}

.carrusel img{
	max-width: 100%;
	height: auto;
}

.slider {
	display: flex;
	overflow: scroll;
	position: relative;
	max-width: 100%;
	transition: 0.5s;
}

.imagen {
	flex: 0 0 100%;
	max-width: 100%;
	transition: 0.5s;
}

input[type="radio"] {
 	display: none;
}

input[type="radio"]:checked ~ .slider .imagen {
	transform: translateX(-100%);
}

.menu {
	display: flex;
}

.personajes {
	display: block;
	text-align: center;
}

/* galería de autores */

.galeria-de-autores {
	display: flex;
	justify-content: center;
	align-items: center; 
	margin-top: 80px; 
}

.flex-autores {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	margin-right: 50px; 
}

.intro-galeria p{
	font-family: 'Barlow', sans-serif; 
	font-style: normal; 
	font-size: 20px;
	width: 350px; 
	padding: 20px;
	overflow: hidden;
	animation: escribir 4s steps(60) forwards;
}

@keyframes escribir{
from {
		clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
	}
	to{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}

.intro-galeria {
	background: #F9CA7F;
	border-radius: 45px;
	border-style: solid; 
	border-width: 2px;
	width: 430px;
	padding: 10px; 
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.galeria-imagenes {
	display: flex; 
	flex-direction: column; 
	align-items: center; 
	margin-top: 100px; 
}

.galeria-imagenes img {
	padding: 5px; 
}

/*sobre nosotros*/

h2 {
	color:#6D48C6;
	font-family: 'Barlow', sans-serif; 
	font-weight: 900; 
	font-style: normal; 
	font-size: 45px;
	text-align: left; 
	margin-left: 6.5%; 
	margin-bottom: 2.5%; 
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

#sobre-nosotros {
	position: relative;
	margin-bottom: 10%;
	margin-top: 10%; 
	z-index: -1; 
}

.fondo-derecha, .fondo-abajo {
	position: absolute;
	top: 0;
	left: 0;
}

.fondo-derecha {
	background: #6D48C6;
	z-index: 1; /* Fondo trasero */
	transform: translate(30px, 30px);/* Desplazamiento hacia la derecha y abajo */
	width: 900px;
	height: 500px;
	border-radius: 45px;
	border-style: solid; 
	border-width: 2px;
		
}

.fondo-abajo {
	background: #F9CA7F;
	z-index: 2; /* Fondo delantero */
	width: 900px;
	height: 500px;
	border-radius: 45px; 
	border-style: solid;
	border-width: 2px; 
}

.contenido {
	margin-top: 10px; 
	margin-left: 30px; 
	text-align: center;
	color: #fff;
	padding: 20px;
	border-radius: 5px;
	position: relative;
	z-index: 3; /* Contenido delante de los fondos */
}

.texto-sn {
	text-align:left;
	font-family: 'Barlow', sans-serif; 
	font-weight: 400; 
	font-style: normal; 
	padding-left: 50px;
	padding-right: 50px;
	width: 700px;
	line-height: 30px;
	font-size: 20px;
	color: black;
}

.negrita {
	text-align:left;
	font-family: 'Barlow', sans-serif; 
	font-weight: 600; 
	font-style: normal; 
	padding-left: 50px;
	padding-right: 50px;
	width: 700px;
	line-height: 30px;
	font-size: 20px;
	color: black;
}

.redes-sociales {
	display: flex;
	justify-content: space-around; 
	width: 15%; 
}

footer ul a  {
	padding: 1%; 

}

footer p {
	font-family: 'Barlow', sans-serif;
	font-weight: 500; 
	font-style: normal; 
	color:white;
	margin-right: 4%; 
}

/*Formulario*/

#formulario{
	display: flex;
	margin-bottom: 5%; 
	justify-content: center; 
}

form {
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
	width: 450px; 
	height: 400px; 
	background-color: #6D48C6; 
	border-radius: 40px; 
	margin-left: 20px; 
	border-style: solid; 
	border-width: 2px;
}

.input-nombre, .input-correo, .input-asunto {
	font-family: 'Barlow', sans-serif;
	font-weight: 500; 
	font-style: normal; 
	font-size: 23px; 
	background-color:#9FCCED;
	border-radius: 40px; 
	padding: 4%; 
	margin: 1%;  
	width: 70%;
	height: 3px; 
	border-style: solid;
	border-width: 0.5%; 
	border-color: black; 
}

.label-mensaje {
	font-family: 'Barlow', sans-serif;
	font-weight: 500; 
	font-style: normal; 
	font-size: 20px; 
	color: white; 
	margin-top: 12px; 
	margin-bottom: 5px; 
}

.espacio-mensaje {
	background-color:#9FCCED;
	border-radius: 40px; 
	padding: 2%; 
	margin: 1%;
	width: 70%;
	height: 70px;
	border-style: solid;
	border-width: 0.5%; 
	border-color: black; 
	margin-bottom: 12px;  
}

.boton-enviar {
	width: 25%; 
	font-family: 'Barlow', sans-serif; 
	font-weight: 500; 
	font-style: normal; 
	font-size: 20px;
	background-color:#9FCCED;
	border-radius: 45px; 
	padding: 4%; 
	margin: 1%;
	height: 3px; 
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center; 
	border-style: solid;
	border-width: 0.3%; 
}

.boton-enviar:hover {
	background-color:  #F9CA7F;
	transition: background-color 0.3s;
}

/* Info personajes */

.contenedor-info-personaje {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center; 
	margin-bottom: 70px; 
}

.columna-info-personaje {
	display: flex;
	flex-direction: column; 
	align-items: center; 
}

.texto-personaje {
	text-align: left;
	font-family: 'Barlow', sans-serif;
	font-weight: 500; 
	font-style: normal; 
	width: 550px;
	line-height: 25px;
	font-size: 16px;
	color: black;
	background-color: #F9CA7F;
	border-radius: 45px; 
	border-style: solid;
	border-width: 2px; 
	padding: 45px; 
}
	
/* Novedades */

.flex-novedades {
	display: flex;
	flex-direction: column; 
	align-items: center; 
}

.video-novedades {
	display: flex; 
	align-content: center; 
	justify-content: center; 
	margin-bottom: 7%; 
	background-color: #6D48C6; 
	border-radius: 40px; 
	width: 700px; 
	border-width: 2px;
	border-color: black; 
	border-style: solid; 
}

.video{
	display: flex;
	justify-content: center; 
	align-content: center; 
}	

.video-mafalda{
	padding-bottom: 20px;
}

.novedades{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap; 
}

.columna1{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.columna2{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}

.mafalda, .hijitus, .clemente, .pereyra {
	margin-bottom: 20px;
	display: flex;
	
}

.contenedor{
	display: flex;
	align-items: center;
}

.texto-superpuesto {
	border-style: solid;
	border-width: 2px;
	border-radius: 35px;
	background-color: #F9CA7F;
	width: 320px;
	height: 100px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	font-family: 'Barlow', sans-serif;
	font-weight: 500; 
	font-style: normal; 
	font-size: 13px; 
}

.texto-superpuesto-video {
	border-style: solid;
	border-width: 2px;
	border-radius: 35px;
	background-color: #F9CA7F;
	width: 200px;
	height: 100px;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	font-family: 'Barlow', sans-serif;
	font-weight: 500; 
	font-style: normal; 
	font-size: 15px;
	margin-right: 30px; 
}

.bold{
	font-family: 'Barlow', sans-serif; 
	font-weight: 900; 
	font-style: normal; 
	font-size: 18px;
}

img{
	transition: transform 0.3s;
}

img:hover {
	transform: scale(1.2);
}


@media screen and (max-width:600px) 
{
	
	.index {
		display: flex;
		justify-content: space-between; 
	}
	.index nav {
	display: flex;
    align-items: center;
    margin-right: 35px;
    flex-direction: column;
	}
	
	.logo {
    width: 100%; 
    text-align: center;
	}
	
	header{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	}
	
	footer {
	width: 100%;
	height: 100px;
	margin-bottom: 0%; 
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	align-items: center;
	}
	
	footer p {
	margin-top: 15px; 
	}
	
	.redes-sociales {
	margin-top: 3px; 
	justify-content: center; 
	}
	
	.carrusel {
	width:100%;
	height: 700px; 
	}
	
.galeria-de-autores{
	display: flex;
    flex-direction: column;
	margin: 0px;
	}
	

.galeria-imagenes {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 70px;
	padding-left: 10px;
	}
	
.flex-autores {
		margin-right: 0px; 
	}
	
.carrusel{
	height: auto;
	}
	
/* media sobre nosotros */
	
h2 {
	margin-left: 1%; 
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center; 
}

.fondo-derecha {
	width: 500px;
	height: 700px;
}

.fondo-abajo {
	width: 500px;
	height: 700px;
}

.contenido {
	margin-top: 7px; 
	margin-left: 30px; 
}

.texto-sn {
	padding-left: 1px;
	padding-right: 5px;
	width: 430px;
	font-size: 18px
}

.negrita {
	padding-left: 1px;
	padding-right: 5px;
	width: 430px;
	font-size: 18px;
}

	#sobre-nosotros {
		margin-top: 15px; 
	}
	
/* media formulario*/

#formulario{
	display: flex;
	flex-direction: column; 
	align-items: center; 
}
	
.img-formulario {
	margin-left: 0px; 
}

form {
	margin-bottom: 30px; 
}

.input-nombre, .input-correo, .input-asunto{
	font-size: 18px; 
}

.boton-enviar {
	font-size: 18px;
}
	
/* media novedades */
	
	.flex-novedades {
		display: flex; 
		flex-direction: column; 
		justify-content: center;  
		align-items: center; 
	}
	
	.novedades {
		display: flex; 
		flex-direction: column; 
	}

	.columna1, .columna2{
		width: 100%;
		align-items: center;
	}
	
	.columna2{
		padding: 0
	}
	
	.video {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 10px 0;
  }

	.contenedor {
	width: 100%;
	align-items: center;
  }
	.texto-superpuesto {
	width: 90%;
	margin: 10px auto;
  }

	.texto-superpuesto-video{
		width: 350px;
	}
	
	.bold {
	font-size: 16px;
  }
	
	.video-novedades{
		width: 500px;
	}

	img:hover {
	transform: scale(1.1);
  }

/*media de info de personajes*/
	
	.tam_img{
	
	}
	
  .contenedor-info-personaje {
    display: flex;
    flex-direction: column;
  }


  .texto-personaje {
    font-size: 12px;
    text-align: center;
	width: 400px;
	}
}